<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buza.server.dao.TbRoomMapper">
    <resultMap id="BaseResultMap" type="com.buza.server.entity.TbRoom">
        <id column="ROOM_ID" jdbcType="INTEGER" property="roomId"/>
        <result column="SHOP_ID" jdbcType="INTEGER" property="shopId"/>
        <result column="ROOM_TYPE" jdbcType="VARCHAR" property="roomType"/>
        <result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName"/>
        <result column="ROOM_THUMBNAIL" jdbcType="VARCHAR" property="roomThumbnail"/>
        <result column="ROOM_INTRO" jdbcType="VARCHAR" property="roomIntro"/>
        <result column="ROOM_CODE" jdbcType="VARCHAR" property="roomCode"/>
        <result column="ROOM_CAPACITY" jdbcType="VARCHAR" property="roomCapacity"/>
        <result column="ROOM_STATUS" jdbcType="VARCHAR" property="roomStatus"/>
        <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
        <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
        <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
        <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
        <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ROOM_ID
        , SHOP_ID, ROOM_TYPE, ROOM_NAME, ROOM_THUMBNAIL, ROOM_INTRO, ROOM_CODE, ROOM_CAPACITY,
    ROOM_STATUS, OPTION01, OPTION02, OPTION03, OPTION04, OPTION05, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_room
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from tb_room
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.buza.server.entity.TbRoom">
        insert into tb_room (ROOM_ID, SHOP_ID, ROOM_TYPE,
                             ROOM_NAME, ROOM_THUMBNAIL, ROOM_INTRO,
                             ROOM_CODE, ROOM_CAPACITY, ROOM_STATUS,
                             OPTION01, OPTION02, OPTION03,
                             OPTION04, OPTION05, CREATE_TIME,
                             UPDATE_TIME)
        values (#{roomId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{roomType,jdbcType=VARCHAR},
                #{roomName,jdbcType=VARCHAR}, #{roomThumbnail,jdbcType=VARCHAR}, #{roomIntro,jdbcType=VARCHAR},
                #{roomCode,jdbcType=VARCHAR}, #{roomCapacity,jdbcType=VARCHAR}, #{roomStatus,jdbcType=VARCHAR},
                #{option01,jdbcType=VARCHAR}, #{option02,jdbcType=VARCHAR}, #{option03,jdbcType=VARCHAR},
                #{option04,jdbcType=VARCHAR}, #{option05,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.buza.server.entity.TbRoom">
        insert into tb_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                ROOM_ID,
            </if>
            <if test="shopId != null">
                SHOP_ID,
            </if>
            <if test="roomType != null">
                ROOM_TYPE,
            </if>
            <if test="roomName != null">
                ROOM_NAME,
            </if>
            <if test="roomThumbnail != null">
                ROOM_THUMBNAIL,
            </if>
            <if test="roomIntro != null">
                ROOM_INTRO,
            </if>
            <if test="roomCode != null">
                ROOM_CODE,
            </if>
            <if test="roomCapacity != null">
                ROOM_CAPACITY,
            </if>
            <if test="roomStatus != null">
                ROOM_STATUS,
            </if>
            <if test="option01 != null">
                OPTION01,
            </if>
            <if test="option02 != null">
                OPTION02,
            </if>
            <if test="option03 != null">
                OPTION03,
            </if>
            <if test="option04 != null">
                OPTION04,
            </if>
            <if test="option05 != null">
                OPTION05,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                #{roomId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="roomType != null">
                #{roomType,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null">
                #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="roomThumbnail != null">
                #{roomThumbnail,jdbcType=VARCHAR},
            </if>
            <if test="roomIntro != null">
                #{roomIntro,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCapacity != null">
                #{roomCapacity,jdbcType=VARCHAR},
            </if>
            <if test="roomStatus != null">
                #{roomStatus,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                #{option05,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.buza.server.entity.TbRoom">
        update tb_room
        <set>
            <if test="shopId != null">
                SHOP_ID = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="roomType != null">
                ROOM_TYPE = #{roomType,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null">
                ROOM_NAME = #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="roomThumbnail != null">
                ROOM_THUMBNAIL = #{roomThumbnail,jdbcType=VARCHAR},
            </if>
            <if test="roomIntro != null">
                ROOM_INTRO = #{roomIntro,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                ROOM_CODE = #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCapacity != null">
                ROOM_CAPACITY = #{roomCapacity,jdbcType=VARCHAR},
            </if>
            <if test="roomStatus != null">
                ROOM_STATUS = #{roomStatus,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                OPTION01 = #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                OPTION02 = #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                OPTION03 = #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                OPTION04 = #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                OPTION05 = #{option05,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.buza.server.entity.TbRoom">
        update tb_room
        set SHOP_ID        = #{shopId,jdbcType=INTEGER},
            ROOM_TYPE      = #{roomType,jdbcType=VARCHAR},
            ROOM_NAME      = #{roomName,jdbcType=VARCHAR},
            ROOM_THUMBNAIL = #{roomThumbnail,jdbcType=VARCHAR},
            ROOM_INTRO     = #{roomIntro,jdbcType=VARCHAR},
            ROOM_CODE      = #{roomCode,jdbcType=VARCHAR},
            ROOM_CAPACITY  = #{roomCapacity,jdbcType=VARCHAR},
            ROOM_STATUS    = #{roomStatus,jdbcType=VARCHAR},
            OPTION01       = #{option01,jdbcType=VARCHAR},
            OPTION02       = #{option02,jdbcType=VARCHAR},
            OPTION03       = #{option03,jdbcType=VARCHAR},
            OPTION04       = #{option04,jdbcType=VARCHAR},
            OPTION05       = #{option05,jdbcType=VARCHAR},
            CREATE_TIME    = #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME    = #{updateTime,jdbcType=TIMESTAMP}
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </update>
</mapper>