<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buza.server.dao.TbSpecMapper">
    <resultMap id="BaseResultMap" type="com.buza.server.entity.TbSpec">
        <result column="SPEC_SEQ" jdbcType="INTEGER" property="specSeq"/>
        <result column="PRODUCT_SEQ" jdbcType="INTEGER" property="productSeq"/>
        <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName"/>
        <result column="PRICE" jdbcType="DECIMAL" property="price"/>
        <result column="VIP_PRICE" jdbcType="DECIMAL" property="vipPrice"/>
        <result column="WEIGHT" jdbcType="VARCHAR" property="weight"/>
        <result column="STOCK" jdbcType="VARCHAR" property="stock"/>
        <result column="DELIVERY_PRICE" jdbcType="DECIMAL" property="deliveryPrice"/>
        <result column="DELIVERY_TYPE" jdbcType="VARCHAR" property="deliveryType"/>
        <result column="PACKAGE_CODE" jdbcType="VARCHAR" property="packageCode"/>
        <result column="USE_YN" jdbcType="VARCHAR" property="useYn"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="AREA" jdbcType="VARCHAR" property="area"/>
        <result column="COUNTRY" jdbcType="VARCHAR" property="country"/>
        <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
        <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
        <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
        <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
        <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <insert id="insert" parameterType="com.buza.server.entity.TbSpec">
        insert into tb_spec (SPEC_SEQ, PRODUCT_SEQ, PRODUCT_NAME,
                             PRICE, VIP_PRICE, WEIGHT,
                             STOCK, DELIVERY_PRICE, DELIVERY_TYPE,
                             PACKAGE_CODE, USE_YN, `STATUS`,
                             AREA, COUNTRY, OPTION01,
                             OPTION02, OPTION03, OPTION04,
                             OPTION05, CREATETIME, UPDATETIME)
        values (#{specSeq,jdbcType=INTEGER}, #{productSeq,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL}, #{vipPrice,jdbcType=DECIMAL}, #{weight,jdbcType=VARCHAR},
                #{stock,jdbcType=VARCHAR}, #{deliveryPrice,jdbcType=DECIMAL}, #{deliveryType,jdbcType=VARCHAR},
                #{packageCode,jdbcType=VARCHAR}, #{useYn,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
                #{area,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{option01,jdbcType=VARCHAR},
                #{option02,jdbcType=VARCHAR}, #{option03,jdbcType=VARCHAR}, #{option04,jdbcType=VARCHAR},
                #{option05,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.buza.server.entity.TbSpec">
        insert into tb_spec
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specSeq != null">
                SPEC_SEQ,
            </if>
            <if test="productSeq != null">
                PRODUCT_SEQ,
            </if>
            <if test="productName != null">
                PRODUCT_NAME,
            </if>
            <if test="price != null">
                PRICE,
            </if>
            <if test="vipPrice != null">
                VIP_PRICE,
            </if>
            <if test="weight != null">
                WEIGHT,
            </if>
            <if test="stock != null">
                STOCK,
            </if>
            <if test="deliveryPrice != null">
                DELIVERY_PRICE,
            </if>
            <if test="deliveryType != null">
                DELIVERY_TYPE,
            </if>
            <if test="packageCode != null">
                PACKAGE_CODE,
            </if>
            <if test="useYn != null">
                USE_YN,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="area != null">
                AREA,
            </if>
            <if test="country != null">
                COUNTRY,
            </if>
            <if test="option01 != null">
                OPTION01,
            </if>
            <if test="option02 != null">
                OPTION02,
            </if>
            <if test="option03 != null">
                OPTION03,
            </if>
            <if test="option04 != null">
                OPTION04,
            </if>
            <if test="option05 != null">
                OPTION05,
            </if>
            <if test="createtime != null">
                CREATETIME,
            </if>
            <if test="updatetime != null">
                UPDATETIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specSeq != null">
                #{specSeq,jdbcType=INTEGER},
            </if>
            <if test="productSeq != null">
                #{productSeq,jdbcType=INTEGER},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="vipPrice != null">
                #{vipPrice,jdbcType=DECIMAL},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=VARCHAR},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=VARCHAR},
            </if>
            <if test="deliveryPrice != null">
                #{deliveryPrice,jdbcType=DECIMAL},
            </if>
            <if test="deliveryType != null">
                #{deliveryType,jdbcType=VARCHAR},
            </if>
            <if test="packageCode != null">
                #{packageCode,jdbcType=VARCHAR},
            </if>
            <if test="useYn != null">
                #{useYn,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                #{option05,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>